*{margin:0; padding:0; box-sizing:border-box;}
ul, ol, li{list-style:none;}
a{text-decoration:none; color:#333;}

#wrap{width:100%; }

#top{width:100%; height:900px; position:relative;}
header{width:100%; display:flex; justify-content: space-between; position:absolute;   z-index:5; padding:1%;  align-items: center; backdrop-filter: blur(7px);
}
#logo{ width:260px;  margin-left:3%;}
#logo img{width:100%;}
header nav{width:700px; }
header nav ul{display:flex; justify-content: space-evenly; line-height:70px;}
header nav ul li{width:20%; text-align:center; position:relative;}
header nav ul li a{font-weight:bold; font-size:19px; color:white;}
header nav ul li::after{content:""; position:absolute; bottom:2%; left:0; width:0%; height:5px; background-color: white; transition:all 0.8s;}
header nav ul li:hover::after{width:100%;}


#slider{width:100%; height:100%; background-repeat: no-repeat; background-size:cover; background-position:0 20%; position:relative;}
#slider>h2{position:absolute; text-align:center; width:100%; margin-top:400px; color:white; font-size:85px;}
#search{background-color:rgba(243, 239, 239, 0.7); width:80%;; height:140px; margin-top:600px; position:absolute; text-align:center; border-radius:20px; margin-left:10%;}
#search:hover{opacity: 1;}
#search_title{font-size:30px; font-weight: bold; color:#666; margin:15px;}
#search_content{height:auto;}
#search input{line-height:30px; border:none; outline:none; color:#666; }
#search input:first-child{width: 30%; }
#search input:nth-of-type(2){width:15%;}
#search input:nth-of-type(3){width:15%;}
#search input:last-child{width:20%;}
#search_content button{width:10%; height:30px; border:none; background-color:rgb(148, 146, 146); color:white; border-radius:10px;}
#search_content button:hover{background-color:white; color:#666; transition:all 0.7s;}

/* #slider:after{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255, 0.3)}  */
#story{display:flex; justify-content: space-evenly; align-items:baseline; margin:100px 50px; }
#story article{width:20%; height: 80%; margin:5px; }
#story article p{text-overflow: ellipsis; overflow:hidden; white-space:nowrap;}
#story article:hover{opacity:0.7;}
#story article img{width:100%;}


#title{margin:0 auto; text-align: center; padding:40px; font-size: 35px;}
#plan{background-color:azure; display:flex; justify-content:space-evenly;}
#plan article img{width:100%;}
#plan article{margin:3%; width:26.6%}
#plan article:hover{opacity:0.7;}
#plan button{border:none; padding:4px; margin:10px 0; border-radius: 5px;}

#footer{width:100%; margin:0 auto; }
#news{text-align: center; height:250px;  position:relative;}
#newstitle{width:70%;  background-color:rgba(243, 239, 239, 0.7); height:200px; padding:20px; border-radius:30px; left:15%; position:absolute; top:100px;}
#newstitle h3{font-size: 30px; margin:5px;}
#newstitle p{font-size: 20px; margin:5px; color:#474747;}
#newstitle input{line-height:30px; width:40%; border:none; outline:none; padding:5px; margin:15px;}
#newstitle input:first-of-type{width:20%;}
#newstitle button{padding:10px; width:130px; height:35px; border:none; background-color:rgb(148, 146, 146); color:white; border-radius:10px;}

#address{display:flex; justify-content:center;}
#address img{ width:80px; height:80px;} 
.contact{margin:5%;}
/* .contact img{margin-left:70px;} */
.contact>h2{color:white; text-align:center; font-size: 20px;}
.contact>p{color:white; text-align:center; font-size:15px;}

#footbar{background-color:aliceblue; color:#666; text-align:center; height:30px; line-height:30px;}

.a{display:none; cursor:pointer;}
.b{display:block;}

@media(max-width:830px){
    header{display:flex; justify-content:space-between; align-items:center; line-height:50px;}
    header nav ul{display:flex; flex-direction:column; line-height:55px;} 
    header nav ul li {width:20%; margin:0 auto;}
    header nav ul li a{text-decoration:none; color:white; display:block; width:100%; }

    .a{display:block;}
    .b{display:none; position:absolute; top:120px; left:0px; width:100%; ;}

    #slider>h2{position:absolute; text-align:center; width:100%; margin-top:450px; color:white; font-size:55px;}
    #search{background-color:rgba(243, 239, 239, 0.7); width:90%;; height:140px; margin-top:600px; position:absolute; text-align:center; border-radius:20px; margin-left:5%;}
    #search_content>input:last-of-type{width:25%;}


    #story{display:flex; flex-wrap:wrap; justify-content:space-between; align-items:baseline; margin:80px 10px; width:96%; }
    #story article{width:47%; margin:20px 0; }
    #title{margin:0 auto; text-align: center; padding:20px; font-size: 25px;}

#plan{background-color:azure; display:flex; justify-content:space-evenly; width: 96%; margin:2% }
#plan article img{width:100%;}
#plan article{margin:2%; width:30%}
#plan article h2{font-size:15px;}
#plan article p{font-size:13px;}
#plan article:hover{opacity:0.7;}
#plan button{border:none; padding:4px; margin:10px 0; border-radius: 5px; font-size:12px;}

#footer{width:100%;  margin:0 auto; }
#news{text-align: center; position:relative;}
#newstitle{width:90%;  background-color:rgba(243, 239, 239, 0.7); height:150px; padding:15px; border-radius:20px; left:5%; position:absolute; top:70px;}
#newstitle h3{font-size: 20px; margin:5px;}
#newstitle p{font-size: 15px; margin:5px; color:#474747;}
#newstitle input{line-height:20px; width:50%; border:none; outline:none; padding:4px; margin:5px;}
#newstitle input:first-of-type{width:20%;}
#newstitle button{padding:5px; width:20%; height:25px; border:none; background-color:rgb(148, 146, 146); color:white; border-radius:10px; font-size:11px;}

#address{display:flex; justify-content:center; text-align:center; flex-wrap:wrap;}
#address img{width:10%;} 
.contact{ text-align:center; width:96%; margin:2%;}
/* .contact img{margin-left:70px;} */
.contact>h2{color:white; font-size: 15px;}
.contact>p{color:white; font-size:12px;}

#footbar{background-color:aliceblue; color:#666; text-align:center; height:30px; line-height:30px; font-size:10px;}


}

@media(min-width:830px) and (max-width:1320px){
    #slider{width:100%; height:100%; background-repeat: no-repeat; background-size:cover; background-position:0 20%; position:relative;}
    #slider>h2{position:absolute; text-align:center; width:100%; margin-top:400px; color:white; font-size:85px;}
    #search{background-color:rgba(243, 239, 239, 0.7); width:80%;; height:140px; margin-top:600px; position:absolute; text-align:center; border-radius:20px; margin-left:10%;}
    #search:hover{opacity: 1;}
    #search_title{font-size:30px; font-weight: bold; color:#666; margin:15px;}
    #search_content{height:auto;}
    #search input{line-height:30px; border:none; outline:none; color:#666; margin:0.5%}
    #search input:first-child{width:30%; }
    #search input:nth-of-type(2){width:15%;}
    #search input:nth-of-type(3){width:15%;}
    #search input:last-child{width:20%;}
    #search_content button{width:10%; height:30px; border:none; background-color:rgb(148, 146, 146); color:white; border-radius:10px;}
    #search_content button:hover{background-color:white; color:#666; transition:all 0.7s;}
    
    /* #slider:after{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255, 0.3)}  */
    #story{display:flex; justify-content: space-evenly; align-items:baseline; margin:100px 50px; flex-wrap:wrap; }
    #story article{width:46%; height: 80%; margin:2%; }
    #story article p{text-overflow: ellipsis; overflow:hidden; white-space:nowrap;}
    #story article:hover{opacity:0.7;}
    #story article img{width:100%;}
    
    
    #title{margin:0 auto; text-align: center; padding:40px; font-size: 35px;}
    #plan{background-color:azure; display:flex; justify-content:space-evenly; margin:5% 0 8%;}
    #plan article img{width:100%;}
    #plan article{margin:1%; width:28%}
    #plan article:hover{opacity:0.7;}
    #plan button{border:none; padding:4px; margin:10px 0; border-radius: 5px;}
    
    #footer{width:100%; margin:0 auto; }
    #news{text-align: center; height:300px;  position:relative;}
    #newstitle{width:80%;  background-color:rgba(243, 239, 239, 0.7); padding:10px; border-radius:30px; left:10%; position:absolute; top:80px;}
    #newstitle h3{font-size: 27px; margin:5px;}
    #newstitle p{font-size: 20px; margin:5px; }
    #newstitle input{line-height:30px; width:50%; border:none; outline:none; padding:5px; margin:10px;}
    #newstitle input:first-of-type{width:20%;}
    #newstitle button{padding:10px; width:130px; height:35px; border:none; background-color:rgb(148, 146, 146); color:white; border-radius:10px;}
    
    #address{display:flex; justify-content:center;}
    /* #address img{ width:8px; height:80px;}  */
    .contact{margin:3% 0; text-align:center; width:30%;}
    /* .contact img{margin-left:70px;} */
    .contact>h2{color:white; text-align:center; font-size: 18px;}
    .contact>p{color:white; text-align:center; font-size:12px;}
    
    #footbar{background-color:aliceblue; color:#666; text-align:center; height:30px; line-height:30px;}
    
    .a{display:none; cursor:pointer;}
    .b{display:block;}
    
 
}

@media(min-width:1320px){
#slider{width:100%; height:100%; background-repeat: no-repeat; background-size:cover; background-position:0 20%; position:relative;}
#slider>h2{position:absolute; text-align:center; width:100%; margin-top:400px; color:white; font-size:85px;}
#search{background-color:rgba(243, 239, 239, 0.7); width:80%;; height:140px; margin-top:600px; position:absolute; text-align:center; border-radius:20px; margin-left:10%;}
#search:hover{opacity: 1;}
#search_title{font-size:30px; font-weight: bold; color:#666; margin:15px;}
#search_content{height:auto;}
#search input{line-height:30px; border:none; outline:none; color:#666; }
#search input:first-child{width: 30%; }
#search input:nth-of-type(2){width:15%;}
#search input:nth-of-type(3){width:15%;}
#search input:last-child{width:20%;}
#search_content button{width:10%; height:30px; border:none; background-color:rgb(148, 146, 146); color:white; border-radius:10px;}
#search_content button:hover{background-color:white; color:#666; transition:all 0.7s;}

/* #slider:after{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255, 0.3)}  */
#story{display:flex; justify-content: space-evenly; align-items:baseline; margin:100px 0; }
#story article{width:22%;  margin:1% }
#story article h2{font-size:22px;}
#story article p{text-overflow: ellipsis; overflow:hidden; white-space:nowrap;}
#story article:hover{opacity:0.7;}
#story article img{width:100%;}


#title{margin:0 auto; text-align: center; padding:40px; font-size: 35px;}
#plan{background-color:azure; display:flex; justify-content:space-evenly;}
#plan article img{width:100%;}
#plan article{margin:2%; width:32%}
#plan article:hover{opacity:0.7;}
#plan button{border:none; padding:4px; margin:10px 0; border-radius: 5px;}

#footer{width:100%; margin:0 auto; }
#news{text-align: center; height:250px;  position:relative;}
#newstitle{width:80%;  background-color:rgba(243, 239, 239, 0.7); height:200px; padding:20px; border-radius:30px; left:10%; position:absolute; top:100px;}
#newstitle h3{font-size: 30px; margin:5px;}
#newstitle p{font-size: 20px; margin:5px; color:#474747;}
#newstitle input{line-height:30px; width:40%; border:none; outline:none; padding:5px; margin:15px;}
#newstitle input:first-of-type{width:20%;}
#newstitle button{padding:10px; width:130px; height:35px; border:none; background-color:rgb(148, 146, 146); color:white; border-radius:10px;}

#address{display:flex; justify-content:center; flex-wrap:nowrap;}
#address img{ width:100%;} 
.contact{margin:8% 0; width:30%;}
/* .contact img{margin-left:70px;} */
.contact>h2{color:white; text-align:center; font-size: 20px;}
.contact>p{color:white; text-align:center; font-size:15px;}

#footbar{background-color:aliceblue; color:#666; text-align:center; height:30px; line-height:30px;}

.a{display:none; cursor:pointer;}
.b{display:block;}
}