@charset "utf-8";

#top{width:100%; height:900px; position:relative;}
#slider{width:100%; height:100%; background-repeat: no-repeat; background-size:cover; background-position:0 20%; position:relative;}
#slider>h2{position:absolute; text-align:center; width:100%; margin-top:400px; color:white; font-size:85px;}
#search{background-color:rgba(243, 239, 239, 0.7); width:100%; height:140px; margin-top:600px; position:absolute; text-align:center; border-radius:20px; margin-left:10%;}
#search:hover{opacity: 1;}
#search_title{font-size:30px; font-weight: bold; color:#666; margin:15px auto; width:90%; }
#search_content{height:auto; width:90%; display:flex; justify-content: space-evenly; margin:0 auto;}
#search input{line-height:30px; border:none; outline:none; color:#666;}
#search input:first-child{width: 30%; }
#search input:nth-of-type(2){width:15%;}
#search input:nth-of-type(3){width:15%;}
#search input:last-child{width:20%;}
#search_content button{width:10%; height:30px; border:none; background-color:rgb(148, 146, 146); color:white; border-radius:10px;}
#search_content button:hover{background-color:white; color:#666; transition:all 0.7s;}

/* #slider:after{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255, 0.3)}  */
#story{display:flex; justify-content: space-evenly; align-items:baseline; margin:100px 50px; }
#story article{width:20%; height: 80%; margin:5px; }
#story article p{text-overflow: ellipsis; overflow:hidden; white-space:nowrap;}
#story article:hover{opacity:0.7;}
#story article img{width:100%;}


#title{margin:0 auto; text-align: center; padding:40px; font-size: 35px;}
#plan{background-color:azure; display:flex; justify-content:space-evenly;}
#plan article img{width:100%;}
#plan article{margin:3%; width:26.6%}
#plan article:hover{opacity:0.7;}
#plan button{border:none; padding:4px; margin:10px 0; border-radius: 5px;}


@media(max-width:830px){

    #slider>h2{position:absolute; text-align:center; width:100%; margin-top:450px; color:white; font-size:55px;}
    #search{background-color:rgba(243, 239, 239, 0.7); width:90%;; height:140px; margin-top:600px; position:absolute; text-align:center; border-radius:20px; margin-left:5%;}
    #search_content>input:last-of-type{width:25%;}


    #story{display:flex; flex-wrap:wrap; justify-content:space-between; align-items:baseline; margin:80px 10px; width:96%; }
    #story article{width:47%; margin:20px 0; }
    #title{margin:0 auto; text-align: center; padding:20px; font-size: 25px;}

#plan{background-color:azure; display:flex; justify-content:space-evenly; width: 96%; margin:2%; flex-wrap:wrap;}
#plan article img{width:100%;}
#plan article{margin:2%; width:90%}
#plan article h2{font-size:14px;}
#plan article p{font-size:13px;}
#plan article:hover{opacity:0.7;}
#plan button{border:none; padding:4px; margin:10px 0; border-radius: 5px; font-size:12px;}

}

@media(min-width:830px) and (max-width:1320px){
    #slider{width:100%; height:100%; background-repeat: no-repeat; background-size:cover; background-position:0 20%; position:relative;}
    #slider>h2{position:absolute; text-align:center; width:100%; margin-top:400px; color:white; font-size:85px;}
    #search{background-color:rgba(243, 239, 239, 0.7); width:80%;; height:140px; margin-top:600px; position:absolute; text-align:center; border-radius:20px; margin-left:10%;}
    #search:hover{opacity: 1;}
    #search_title{font-size:30px; font-weight: bold; color:#666; margin:15px auto;}
    #search_content{height:auto;}
    #search input{line-height:30px; border:none; outline:none; color:#666; margin:0.5%}
    #search input:first-child{width:30%; }
    #search input:nth-of-type(2){width:15%;}
    #search input:nth-of-type(3){width:15%;}
    #search input:last-child{width:20%;}
    #search_content button{width:10%; height:30px; border:none; background-color:rgb(148, 146, 146); color:white; border-radius:10px;}
    #search_content button:hover{background-color:white; color:#666; transition:all 0.7s;}
    
    /* #slider:after{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255, 0.3)}  */
    #story{display:flex; justify-content: space-evenly; align-items:baseline; margin:100px 50px; flex-wrap:wrap; }
    #story article{width:46%; height: 80%; margin:2%; }
    #story article p{text-overflow: ellipsis; overflow:hidden; white-space:nowrap;}
    #story article:hover{opacity:0.7;}
    #story article img{width:100%;}
    
    
    #title{margin:0 auto; text-align: center; padding:40px; font-size: 35px;}
    #plan{background-color:azure; display:flex; justify-content:space-evenly; margin:5% 0 8%;}
    #plan article img{width:100%;}
    #plan article{margin:1%; width:28%}
    #plan article:hover{opacity:0.7;}
    #plan button{border:none; padding:4px; margin:10px 0; border-radius: 5px;}

}

@media(min-width:1320px){
#slider{width:100%; height:100%; background-repeat: no-repeat; background-size:cover; background-position:0 20%; position:relative;}
#slider>h2{position:absolute; text-align:center; width:100%; margin-top:400px; color:white; font-size:85px;}
#search{background-color:rgba(243, 239, 239, 0.7); width:80%;; height:140px; margin-top:600px; position:absolute; text-align:center; border-radius:20px; margin-left:10%;}
#search:hover{opacity: 1;}
#search_title{font-size:30px; font-weight: bold; color:#666; margin:15px auto;}
#search_content{height:auto;}
#search input{line-height:30px; border:none; outline:none; color:#666; }
#search input:first-child{width: 30%; }
#search input:nth-of-type(2){width:15%;}
#search input:nth-of-type(3){width:15%;}
#search input:last-child{width:20%;}
#search_content button{width:10%; height:30px; border:none; background-color:rgb(148, 146, 146); color:white; border-radius:10px;}
#search_content button:hover{background-color:white; color:#666; transition:all 0.7s;}

/* #slider:after{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255, 0.3)}  */
#story{display:flex; justify-content: space-evenly; align-items:baseline; margin:100px 0; }
#story article{width:22%;  margin:1% }
#story article h2{font-size:22px;}
#story article p{text-overflow: ellipsis; overflow:hidden; white-space:nowrap;}
#story article:hover{opacity:0.7;}
#story article img{width:100%;}


#title{margin:0 auto; text-align: center; padding:40px; font-size: 35px;}
#plan{background-color:azure; display:flex; justify-content:space-evenly;}
#plan article img{width:100%;}
#plan article{margin:2%; width:32%}
#plan article:hover{opacity:0.7;}
#plan button{border:none; padding:4px; margin:10px 0; border-radius: 5px;}
}